<footer id="main-footer">
    <div class="container">
        <div class="row text-center">
            <hr/>
            <div class="col-xs-12 col-md-6 col-md-push-6">
                <ul class="list-inline">
                    <li><a href="https://fr.linkedin.com/in/fredericwoelffel" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/FWoelffel" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/1598183/fwoelffel" title="Stack Overflow" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="https://twitter.com/FWoelffel" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="mailto:woelffel.f+blog@gmail.com" title="Mail"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6">
                &copy;{{date format="YYYY"}} Frédéric Woelffel
            </div>
        </div>
    </div>
</footer>