<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                {{#if @blog.logo}}
                <a class="navbar-brand" href="{{@blog.url}}">
                        <img class="logo" src="{{@blog.logo}}" alt="Logo">
                </a>
                {{/if}}
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-reorder"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-links">
                <ul class="nav navbar-nav">
                    {{navigation}}
                </ul>
            </div>
        </div>
    </div>
</nav>