{{!< default}}
{{#post}}
    {{> header cover=image}}
    {{> navbar}}
    <div id="main-wrapper" data-cover="{{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}}">
        <div id="main-content" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div id="whoami">
                            {{> about/whoami}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div id="resume">
                            {{> about/resume}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div id="skills">
                            {{> about/skills}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
{{/post}}