{{!< default}}
{{#post}}
    {{> header cover=image}}
    {{> navbar}}
    <div id="main-content" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <section id="whoami">
                        {{> about/whoami}}
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <section id="resume">
                        {{> about/resume}}
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <section id="skills">
                        {{> about/skills}}
                    </section>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
{{/post}}