<div class="container">
    <div class="row">
        <ul class="v-timeline">
            <li>
                <h3 class="v-heading"  ><i class="fa fa-paper-plane-o"></i>Expériences</h3>
            </li>
            <li>
                <time class="v-time"  ><span>2013 - Présent</span></time>
                <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-minus"> </i></div>
                <div class="v-label"   >
                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-1">Institut de Recherche contre les Cancers de l'Appareil Digestif</a></h4>
                    <p id="toggle-1" class="collapse in">Alternance réalisée dans le cadre de ma formation d'ingénieur en informatique. Conception et développement d'un système de gestion des dossiers patient.</p>
                </div>
            </li>
            <li>
                <time class="v-time"  data--delay="0.1s"><span>2013 - 2013</span></time>
                <div class="v-icon" data-toggle="collapse" data-target="#toggle-2"><i class="fa fa-plus"> </i></div>
                <div class="v-label"  data--delay="0.1s">
                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-2">Centre d'Investigation Clinique - Innovation Technologique de Nancy</a></h4>
                    <p id="toggle-2" class="collapse">Stage de fin d'étude réalisé dans le cadre de mon DUT. Réalisation d'un plugin ORS Visual pour la détection et la quantification automatique d'artefacts IRM.</p>
                </div>
            </li>
        </ul>
        <ul class="v-timeline">
            <li>
                <h3 class="v-heading"  ><i class="fa fa-graduation-cap"></i>Formations</h3>
            </li>
            <li>
                <time class="v-time"  data--delay="0.3s"><span>2013 - Présent</span></time>
                <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-minus"></i></div>
                <div class="v-label"  data--delay="0.3s">
                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-3">Diplôme d'ingénieur en Informatique</a></h4>
                    <p id="toggle-3" class="collapse in">CNAM Alsace, Eckbolsheim, France. Formation en alternance.</p>
                </div>
            </li>
            <li>
                <time class="v-time"  data--delay="0.4s"><span>2011 - 2013</span></time>
                <div class="v-icon" data-toggle="collapse" data-target="#toggle-4"><i class="fa fa-plus"></i></div>
                <div class="v-label"  data--delay="0.4s">
                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-4">Diplôme Universitaire Technologique en Informatique</a></h4>
                    <p id="toggle-4" class="collapse">Université de Lorraine, Saint-Dié-Des-Vosges, France. Major de promotion, diplômé avec mention bien.</p>
                </div>
            </li>
            <li>
                <time class="v-time"  data--delay="0.5s"><span>2010 - 2011</span></time>
                <div class="v-icon" data-toggle="collapse" data-target="#toggle-5"><i class="fa fa-plus"></i></div>
                <div class="v-label"  data--delay="0.5s">
                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-5">Première année de licence de santé</a></h4>
                    <p id="toggle-5" class="collapse">Université de Strasbourg, France</p>
                </div>
            </li>
            <li>
                <time class="v-time"  data--delay="0.6s"><span>2009 - 2010</span></time>
                <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-plus"></i></div>
                <div class="v-label"  data--delay="0.6s">
                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-6">Premier cycle des études de médecine</a></h4>
                    <p id="toggle-6" class="collapse">Université de Strasbourg, France</p>
                </div>
            </li>
            <li>
                <time class="v-time"  data--delay="0.7s"><span>2007 - 2009</span></time>
                <div class="v-icon" data-toggle="collapse" data-target="#toggle-7"><i class="fa fa-plus"></i></div>
                <div class="v-label"  data--delay="0.7s">
                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-7">Baccalauréat Scientifique - SVT</a></h4>
                    <p id="toggle-7" class="collapse">Lycée Général et Technologique Général Leclerc de Saverne, France</p>
                </div>
            </li>
        </ul>
    </div>
</div>