<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center"><i class="fa fa-cogs"></i>Compétences</h3>
    </div>
</div>
<div class="row" id="languages">
    <div class="col-xs-12 text-center">
        <h4>Langages</h4>
        <div class="lang-container">
            <input type="text" value="80" class="dial" data-skin="tron" data-height="100" data-width="100" data-fgColor="#666" data-thickness=".2" data-readOnly="true">
            <p class="lang-description">NodeJs</p>
            <span class="small">avancé</span>
        </div>
        <div class="lang-container">
            <input type="text" value="70" class="dial" data-skin="tron" data-height="100" data-width="100" data-fgColor="#666" data-thickness=".2" data-readOnly="true">
            <p class="lang-description">C++</p>
            <span class="small">intermédiaire</span>
        </div>
        <div class="lang-container">
            <input type="text" value="65" class="dial" data-skin="tron" data-height="100" data-width="100" data-fgColor="#666" data-thickness=".2" data-readOnly="true">
            <p class="lang-description">PHP</p>
            <span class="small">intermédiaire</span>
        </div>
        <div class="lang-container">
            <input type="text" value="65" class="dial" data-skin="tron" data-height="100" data-width="100" data-fgColor="#666" data-thickness=".2" data-readOnly="true">
            <p class="lang-description">Java</p>
            <span class="small">intermédiaire</span>
        </div>
        <div class="lang-container">
            <input type="text" value="45" class="dial" data-skin="tron" data-height="100" data-width="100" data-fgColor="#666" data-thickness=".2" data-readOnly="true">
            <p class="lang-description">CSS</p>
            <span class="small">basique</span>
        </div>
        <div class="lang-container">
            <input type="text" value="40" class="dial" data-skin="tron" data-height="100" data-width="100" data-fgColor="#666" data-thickness=".2" data-readOnly="true">
            <p class="lang-description">Python</p>
            <span class="small">basique</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h4>Frameworks</h4>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check"></i>Bootstrap, Foundation</li>
            <li><i class="fa-li fa fa-check"></i>Express, Sails</li>
            <li><i class="fa-li fa fa-check"></i>CodeIgniter, Propel, Smarty</li>
            <li><i class="fa-li fa fa-check"></i>jQuery, Angular</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h4>Langues</h4>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-language"></i>Français : natif</li>
            <li><i class="fa-li fa fa-language"></i>Anglais : bon</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h4>Hobbies</h4>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-code"></i>Programmation</li>
            <li><i class="fa-li fa fa-gamepad"></i>MMORPG</li>
            <li><i class="fa-li fa fa-book"></i>Lecture</li>
            <li><i class="fa-li fa fa-paw"></i>Mon chat</li>
        </ul>
    </div>
</div>
