 &.index {

   article {

     header {

       .title {

         margin-bottom: 0;

         a:hover {

           text-decoration: none;

         }

       }

       margin-bottom: 10px;

     }

   }

 }
